# ignore nonsense files
.ipynb_checkpoints
*.ipynb.html
*.ipynb
.DS_Store
.Rhistory
.local
.rstudio
.bash_history
spell_check_results.tsv
.RData
.httr-oauth
docker/git_token.txt
.Rproj.user
python.Rproj
venv
.vscode
.ipynb_checkpoints/*
