# ignore nonsense files
.ipynb_checkpoints
*.ipynb.html
*.ipynb
.DS_Store
.Rhistory
.local
.rstudio
.bash_history
spell_check_results.tsv
.RData
.httr-oauth
docker/git_token.txt
venv
.vscode
playground
__pycache__
*.pyc
